---
layout: default
title: Gallery
pagination:
  data: collections.paintings
  size: 100
permalink: paintings/index.html
---

<h1 class="title">Gallery</h1>
<div class="gallery">
  {% for painting in pagination.items %}
    <div class="painting-card">
      <img src="{{ painting.data.image | url }}" alt="{{ painting.data.title }}">
      <h2>{{ painting.data.title }}</h2>
      <p>{{ painting.data.description }}</p>
    </div>
  {% endfor %}
</div>

